/*
be right back v0.0.1 - leeflets

Copyright 2012 Claus Artz via typingmonkey @ http://typingmonkey.de

This will work with firefox and safari in their actual versions. I tried to get this working at ie too, but as i do not own a pc running windows, there was no chance to test it!

The icons are taken from  Scott Lewis @ http://iconify.it 

*/


/* Normalization */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}
 

/* Layout Rules */

body {
  background: #000;
  color: #fff;
}

.wrapper {
  background: url(<?php $template->url( 'images/wrapper.png') /> top center no-repeat;
  overflow: hidden;
}

.container {
  position: relative;
  overflow: visible;
  padding-top: 80px;
  z-index: 1;
  height: 100%;
}

/* Content */

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

h3 {
  text-align: center;
}

p {
  font-weight: 700;
  text-align: center;
}

.brand {
  margin-bottom: 30px;
}

.hero-unit {
  padding: 0 0 40px;
  margin-bottom: 20px;
  background: none;
}

/* Social Links */

.list-social {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-bottom: 50px;
  text-align: center;
}

.list-social li {
  display: inline-block;
  position: relative;
  width: 72px;
  height: 72px;
  text-indent: -9000em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.list-social li.link-facebook {
  background: url(../images/facebook.png) no-repeat;
}

.list-social li.link-twitter {
  background: url(../images/twitter.png) no-repeat;
}

.list-social li.link-google {
  background: url(../images/google.png) no-repeat;
}

.list-social li.link-youtube {
  background: url(../images/youtube.png) no-repeat;
}

.list-social li.link-github {
  background: url(../images/github.png) no-repeat;
}

.list-social li:hover {
  top: -5px;
}

.list-social li a {
  display: block;
  width: 100%;
  height: 100%;
}

/* Backgrounds */

.bg-1, .bg-2, .bg-3, .bg-4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg-1 {
  background: url(../images/fade-rear.png) 0 0 repeat-x;
}

.bg-2 {
  background: url(../images/cubes.png) 0 0 repeat-x;
}

.bg-3 {
  background: url(../images/cubes-front.png) 0 0 repeat-x;
}

/* Slabtext */

.slabtexted .slabtext {
  display: -moz-inline-box;
  display: inline-block;
  white-space: nowrap;
}

.ie8 .slabtexted .slabtext {
  white-space: normal;
  font-size: 48px;
  line-height: 1.2em;
  display: inline;
}

.slabtextinactive .slabtext {
  display: inline;
  white-space: normal;
  font-size: 1em !important;
  letter-spacing: inherit !important;
  word-spacing: inherit !important;
  *letter-spacing: 0 !important;
  *word-spacing: 0 !important;
}

.slabtextdone .slabtext {
  display: block;
  line-height: 1.15;
}

.slabtextdone .slablined {
  position: relative;
}

.slabtextdone .slablined:before, .slabtextdone .slablined:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 80%;
  background-color: #ebd9b3;
  margin: 0 10%;
  left: 0;
}

.slabtextdone .slablined:before {
  top: -3px;
}

.slabtextdone .slablined:after {
  bottom: 4px;
}

.subtext {
  padding-top: 4px;
  margin-top: 0px;
  border-top: 1px solid #ebd9b3;
}

.ie8 .subtext {
  padding-top: 0;
  border-top: 0;
}

/* Media Querries */

@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    padding: 40px;
  }

  .brand {
    text-align: center;
  }

  .row-fluid .tonooffeset:first-child {
    margin-left: 0;
  }
}

/* up to landscape phone */

@media (max-width: 480px) {
  .container {
    padding: 20px;
  }

  .brand img {
    max-width: 50%;
  }

  .hero-unit {
    padding: 0;
    text-align: center;
  }

  h2 {
    font-size: 21px;
    line-height: 33px;
  }

  .subtext {
    border-top: 0 none;
  }
}