/*
=== soundbutton ===

contributors: Claus Artz
author link: http://mydarktime.de
license: CC BY-NC-SA 3.0

== description ==
this work shall show how to get a button, which is playing some sound. it has been inspired by the actual hardware "gg"-button, which is for sale.

== graphics ==
made by MazeNL77 @ http://mazenl77.deviantart.com/

*/

/* reseting the browsers default css */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/* the real css for this project */

.button {
	position:absolute;
	left:50%;
	top:50%;
	margin-top: -64px;
	margin-left: -64px;
}